Atlas.Efes.ReceiverIntegrationService/Service References/SenderIntegrationServiceProxy/SenderIntegrationService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Atlas.Efes.Common.Container" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Atlas.Efes.Common.Container" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AmountContainerInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Value" type="xs:decimal" />
      <xs:element minOccurs="0" name="currencyID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AmountContainerInfo" nillable="true" type="tns:AmountContainerInfo" />
  <xs:complexType name="UnitCodeContainerInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Value" type="xs:decimal" />
      <xs:element minOccurs="0" name="unitCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UnitCodeContainerInfo" nillable="true" type="tns:UnitCodeContainerInfo" />
  <xs:complexType name="ExchangeRateContainerInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="CalculationRate" type="xs:decimal" />
      <xs:element minOccurs="0" name="IssueDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SourceCurrencyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TargetCurrencyCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExchangeRateContainerInfo" nillable="true" type="tns:ExchangeRateContainerInfo" />
</xs:schema>