Atlas.Efes.ReceiverIntegrationService/Service References/SenderIntegrationServiceProxy/SenderIntegrationService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://efaturaint.atlasyazilim.com.tr/Services/SenderIntegrationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Atlas.Efes.Common.ServiceModel" />
  <xs:import schemaLocation="https://efaturaint.atlasyazilim.com.tr/Services/SenderIntegrationService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Atlas.Efes.Common.GIB" />
  <xs:element name="SendDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Atlas.Efes.Common.ServiceModel" minOccurs="0" name="documentInfo" nillable="true" type="q1:DocumentInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendDocumentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Atlas.Efes.Common.ServiceModel" minOccurs="0" name="SendDocumentResult" nillable="true" type="q2:DocumentResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendDocumentVS2">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Atlas.Efes.Common.GIB" minOccurs="0" name="standartBusiness" nillable="true" type="q3:StandardBusinessDocumentInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendDocumentVS2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Atlas.Efes.Common.ServiceModel" minOccurs="0" name="SendDocumentVS2Result" nillable="true" type="q4:DocumentResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApplicationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="instanceIdentifier" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApplicationResponseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Atlas.Efes.Common.ServiceModel" minOccurs="0" name="GetApplicationResponseResult" nillable="true" type="q5:ApplicationResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>